.slide-left-enter {
  opacity: 0.01;
  transform: translateX(-100%);
}

.slide-left-enter.slide-left-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: 500ms ease-in;
}

.slide-left-exit {
  opacity: 1;
  transform: translateX(0);
}

.slide-left-exit.slide-left-exit-active {
  opacity: 0.01;
  transform: translateX(-100%);
  transition: 300ms ease-in;
}

.slide-right-enter {
  opacity: 0.01;
  transform: translateX(100%);
}

.slide-right-enter.slide-right-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: 500ms ease-in;
}

.slide-right-exit {
  opacity: 1;
  transform: translateX(0);
}

.slide-right-exit.slide-right-exit-active {
  opacity: 0.01;
  transform: translateX(100%);
  transition: 300ms ease-in;
}
