.box {
  @include e(container) {
    z-index: 2;
    font-family: $font-family--secondary;
    background: $color-box-bg;
    box-shadow: $primary-box-shadow;
  }
  @include e(header) {
    position: relative;
    background: $color-box-header-bg;
    text-align: center;
    @include flex(flex, column, center, center);
    input {
      background: inherit;
      width: 100%;
      border: none;
      outline: none;
      color: $color-text-base;
      font-size: em(32px);
      text-align: center;
    }
  }
  @include e(list) {
    @media (max-height: 700px) {
      max-height: 300px;
    }
    @media (max-height: 550px) {
      max-height: 200px;
    }
    max-height: 450px;
    height: 100%;
    overflow-y: auto;
  }
  @include e(item) {
    background: $color-secondary;
    width: 90%;
    margin: em(20px) auto;
    @include flex(flex, row, space-between);
    button {
      margin-right: em(8px);
    }
    a {
      padding: em(8px);
      font-size: em(18px);
    }
    input {
      padding: em(8px);
      font-weight: $font-weight--regular;
      letter-spacing: em(1px);
      font-family: $font-family--secondary;
      width: 100%;
      border: none;
      outline: none;
      color: $color-text-base;
      font-size: em(18px);

      &:hover {
        color: $color-text-alt;
        cursor: pointer;
      }
      &:focus {
        cursor: auto;
      }
    }
  }
}
