.grid {
  @include e(row) {
    max-width: 1024px;
    margin: 0 auto;
    @include flex(flex, column);
    @include mq(medium) {
      @include flex(flex, row wrap, space-around);
    }
  }
  @include e(col) {
    @include mq(medium) {
      @include g-columns;
    }
  }
}

.wrapper {
  height: 100%;
  @include mq(medium) {
    height: 100vh;
  }
}

.container {
}
