.grid {
  @include e(row) {
    max-width: 1024px;
    margin: 0 auto;
    @include flex(flex, column);
    @include mq(medium) {
      @include flex(flex, row wrap, center, center);
    }
  }
  @include e(col) {
    @include mq(medium) {
      @include g-columns;
    }
  }
}

.wrapper {
  background-repeat: repeat;
  height: 100vh;
  @include flex(flex, column, space-between);
}

// .container {
//   margin-top: em(72px);
// }
