.instructions {
  position: relative;
  max-width: 600px;
  margin: 0 auto;
  @include mq(medium) {
    width: 60%;
  }
  ul {
    width: 100%;

    @include flex(flex, column, center, center);
    margin-bottom: em(32px);
    background: $color-viewbox-header-bg;
    color: $color-text-light;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: em(8px);
    li {
      width: 100%;
    }
  }
}

.close {
  position: absolute;
  top: em(8px);
  right: em(8px);
  color: $color-text-light;
  &:hover {
    color: $color-text-base;
    cursor: pointer;
  }
}
