body {
  font-family: $font-family--primary;
  color: $color-text-base;
}

ul {
  padding: 0;
  list-style-type: none;
  margin: 0;
}
h1 {
  margin: 0;
}

a {
  text-decoration: none;
  color: $color-text-base;
  &:hover {
    color: $color-text-alt;
    cursor: pointer;
  }
}

footer {
  span {
    font-size: em(12px);
  }
}

.header {
  @include e(title) {
    font-size: em(64px);
    a {
      color: $color-title-primary;
    }
    @include m(cursive) {
      color: $color-title-secondary;
      font-family: $font-family--secondary;
    }
  }
}
