body {
  font-family: $font-family--primary;
  color: $color-text-base;
}

ul {
  padding: 0;
  list-style-type: none;
  margin: 0;
}
h1 {
  margin: 0;
}
.header {
  @include e(title) {
    color: $color-title-primary;
    font-size: em(64px);

    @include m(cursive) {
      color: $color-title-secondary;
      font-family: $font-family--secondary;
    }
  }
}
