// font stacks
$font-url--google: "https://fonts.googleapis.com/css?family=Caveat:400,700|Raleway:400,700";
$font-family--primary: "Raleway", cursive;
$font-family--secondary: "Caveat", cursive;

// font weights
$font-weight--light: 300;
$font-weight--regular: 400;
$font-weight--bold: 700;

// text
$base__font-size: 16px;
$base__line: 26px;

//descriptive color variables
$white: #fff;
$black: #000;
$medium-red-velvet: #bf268a;
$starship: #edf25e;
$caribbean-green: #04d9b2;
$mariner: #2975d9;
$sandy-brown: #f29d52;

//functional color variables

$color-primary: $medium-red-velvet;
$color-secondary: $white;

$color-text-light: $white;
$color-text-base: $medium-red-velvet;
$color-text-alt: $caribbean-green;

$color-title-primary: $caribbean-green;
$color-title-secondary: $starship;

$color-recipes-bg: $mariner;
$color-recipes-header-bg: $starship;

$color-viewbox-bg: $sandy-brown;
$color-viewbox-header-bg: $caribbean-green;

// breakpoints

$brkpoint--sm: 1px;
$brkpoint--md: 768px;
$brkpoint--lg: 1024px;

//grid

$g-col-width: 65px;
$g-gutter-width: 20px;
$g-col-count: 12;
$g-cont-max-w: 1400px;

// button colors
$btn--primary--bg: $medium-red-velvet;
$btn--secondary--bg: $caribbean-green;
$btn--primary--color: $medium-red-velvet;
$btn--secondary--color: $medium-red-velvet;
