%btn {
  border: none;
  cursor: pointer;
  transition: all 0.2s ease-in;
}

%btn--primary {
  font-family: $font-family--primary;
  background: $btn--primary--bg;
  color: $color-text-light;
}

%btn--primary--hover {
  background: $btn--secondary--bg;
  color: $btn--secondary--color;
}

%btn--primary--disabled {
  background: $btn--secondary--bg;
  color: $btn--secondary--color;
}

%btn--secondary {
  font-family: $font-family--secondary;
  background: transparent;
  color: $color-text-base;
}

%btn--secondary--hover {
  background: transparent;
  color: $color-text-alt;
}

%btn--secondary--disabled {
  color: $color-text-alt;
}
